<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Certeza que deseja remover este produto?</h4>
        <ngb-alert [dismissible]="false" *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
        <div class="wrapper row align-items-center">
          <div *ngIf="!deleted" class="col-sm-12">
            <span>Produto: </span>
            <strong>{{produto.NomeProduto}}</strong>
          </div>


          <div class="col-sm-6">
            <button (click)="activeModal.close(deleted)" type="button" class="btn btn-light ">Fechar</button>
          </div>
          <div class="col-sm-6">
            <button [disabled]="deleted" (click)="remove(produto.IdProduto)" class="btn btn-danger float-right">Remover</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
