<ngx-spinner 
bdColor="rgba(51,51,51,0.8)"
size="large"
color="#00a99d"
type="line-scale">
<p style="font-size: 20px; color: #00a99d">Carregando...</p>
</ngx-spinner>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Vendas</h4>
          <div class="row">
              <div class="col-12">
                <table id="order-listing" class="table">
                  <thead>
                    <tr class="bg-primary text-white">
                      <th>Data</th>
                      <th>Número do Pedido</th>
                      <th>Comprador</th>
                      <th>Valor</th>
                      <th>Forma de Pagamento</th>
                      <th>Status</th>
                      <th>Ação</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let venda of vendas | paginate: { itemsPerPage: 10, currentPage: p }">
                      <td> {{ venda.DataInclusao | date: 'dd/MM/yyy' }}</td>
                      <td> {{ venda.NumeroPedido }}</td>
                      <td> {{ venda.EmpresaComprador }} </td>
                      <td> {{ getTotal(venda) | currency:'BRL':true}}</td> 
                      <td> {{getFormaPagamento(venda.FormaPagamento)}}</td> 
                      <td *ngIf="venda.StatusPedido === 1 || venda.StatusPedido === 0">
                      <label class="badge badge-primary"> {{ venda.StatusPedido | statusCompra }}</label>
                    </td>
                    <td *ngIf="venda.StatusPedido === 2 || venda.StatusPedido === 7 || venda.StatusPedido === 9 ">
                      <label class="badge badge-success"> {{ venda.StatusPedido | statusCompra }}</label>
                    </td>
                    <td *ngIf="venda.StatusPedido === 3 || venda.StatusPedido === 6 || venda.StatusPedido === 8">
                      <label class="badge badge-info"> {{ venda.StatusPedido | statusCompra }} </label>
                    </td>
                    <td *ngIf="venda.StatusPedido === 4">
                      <label class="badge badge-warning"> {{ venda.StatusPedido | statusCompra }} </label>
                    </td>
                    <td *ngIf="venda.StatusPedido === 5">
                      <label class="badge badge-danger"> {{ venda.StatusPedido | statusCompra }} </label>
                    </td>
                      <td>
                        <button class="btn btn-light" (click)="viewPedido(venda.IdPedido)">
                          <i class="mdi mdi-eye text-primary"></i>Mais Detalhes
                        </button>
                      </td>
                  </tbody>
                </table>
                <div class="col-lg-12">
                  <div class="row justify-content-center">
                      <pagination-controls previousLabel="Anterior"
                      nextLabel="Seguinte" (pageChange)="p = $event"></pagination-controls>

                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
