.demo-gallery-poster {
    img {
        display: block;
        margin: auto;
        width: 300px;
    }
}

.forma-pagamento {
  display: inline-flex;
  padding: 0px !important;
}

.modal-content {
    width: 100% !important; 
    max-width: 600px !important;
    margin: 0 auto;
    background: transparent;
    border: 0 none;
}