<ngx-spinner 
bdColor="rgba(51,51,51,0.8)"
size="large"
color="#00a99d"
type="line-scale">
<p style="font-size: 20px; color: #00a99d">Carregando...</p>
</ngx-spinner>
<div class="row">
  <div class="col-lg-12 grid-margin">
    <div class="card">
      <div class="card-body info">
        <h5 class="card-title">Dados do pedido</h5>
        <p><span>Número do pedido: </span> {{pedido.NumeroPedido}}</p>
        <p><span>Data e Hora: </span> {{dataPedido | date: 'dd/MM/yyy '}} {{horaPedido}}</p>
        <p><span>Valor Total:</span> {{getTotal(pedido) | currency:'BRL':true }}</p>
        <p><span>Forma de pagamento: </span> {{getFormaPagamento(pedido.FormaPagamento)}}</p>
        
        <div *ngIf="pedido"><span >Historico status: </span> 
          <table id="order-listing" class="table mt" >
              <thead>
                <tr class="bg-primary text-white">
                  <th>Data</th>
                  <th>Status Pedido</th>
                  <th>Nome Usuário Inclusao</th>
                  <th>Nome Usuário Alteracao</th>
                  <th>Nome Usuário Exclusao</th>
                  <th>Observações</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let status of pedido.HistoricoStatus">
                  <td > {{ getDate(status.DataInclusao )  }} {{ getHour(status.DataInclusao ) }}</td>
                  <td > {{ statusReturn(status.StatusPedido) }} </td>
                  <td> {{ status.NomeUsuarioInclusao }} </td>
                  <td> {{ status.NomeUsuarioAlteracao }} </td>
                  <td> {{ status.NomeUsuarioExclusao }} </td>
                  <td style="max-width:200px"> {{status.Observacoes}}</td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="row">
          <div class="col-md-4 mt" >
            <p><span>Status do Pedido: </span></p>
            <select *ngIf="pedido.StatusProduto != 5 " name="status" class="form-control" [(ngModel)]="statusPedidoSelecionado" (change)="activateObservacoes()">
              <option [ngValue]="pedido.StatusProduto" disabled></option>
              <option value="null">---</option>
              <option *ngFor='let status of statusPedidos' [ngValue]="status.Id" [disabled]="statusPedidoSelecionado == 5 || status.Id == 5 ">
                {{status.Descricao}}
              </option>
            </select>
            <div *ngIf="isSelectedStatus" >
              
              <div class="form-group" class="mt">
                  <p><span>Observações sobre o status:</span></p>
                  <textarea maxlength="500" [(ngModel)]="observacoes" class="form-control" rows="5" id="comment"></textarea>
              </div>
            </div>
              <div class="row d-flex justify-content-between">
                <div class="container" *ngIf="pedido.StatusProduto != 5 ">
                    <button [disabled]="statusPedidoSelecionado == 5" (click)="atualizarStatusPedido()"   class="btn btn-info btn-sm mt-3 mb-4">Atualizar Status</button>
                  </div>     
              </div>
              <div class="row d-flex justify-content-between">
                <div class="container">
                      <button (click)="cancelarPedido()" [disabled]="statusPedidoSelecionado == 5 " class="btn btn-danger btn-sm mt-3 mb-4">Cancelar pedido</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-12 grid-margin">
    <div class="card">
      <div class="card-body info">
        <table id="order-listing" class="table">
          <thead>
            <tr class="bg-primary text-white">
              <th >Código do Produto</th>
              <th>Nome Produto</th>
              <th>Quantidade</th>
              <th>Valor Unitário</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let itens of pedido.Itens">
              <td *ngIf="itens.infoProduct != undefined" > {{ itens.infoProduct.CodigoBarras[0].TipoCodigoBarras | codigos }} - {{itens.infoProduct.CodigoBarras[0].Codigo}}</td>
              <td *ngIf="itens.infoProduct != undefined"> {{itens.infoProduct.NomeProduto}}</td>
              <td > {{ itens.Quantidade }}</td>
              <td > {{ itens.ValorDesconto |  currency:'BRL':true}} </td>
              <td> {{ getTotalProduto(itens) | currency:'BRL':true}}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-lg-12 grid-margin">
      <div class="card">
        <div class="card-body info">
          <h5 class="card-title">Empresa Compradora</h5>
          <p><span>Empresa: </span> {{empresaCompradora.NomeEmpresa}}</p>
          <p><span>Razão Social: </span> {{empresaCompradora.RazaoSocial}}</p>
          <p><span>CNPJ: </span> {{empresaCompradora.Cnpj}}</p>
          <p><span>Inscrição Estadual: </span>{{empresaCompradora.InscricaoEstadual ? empresaCompradora.InscricaoEstadual : 'Isento' }}</p>
          <p><span>E-mail para NFE: </span> {{empresaCompradora.EmailFiscal}}</p>

          <div *ngIf="Enderecos" >
            <div  *ngFor="let endereco of empresaCompradora.Enderecos">

              <h6 class="card-title">{{endereco.NomeEndereco ? endereco.NomeEndereco : 'Endereços'}}</h6>
                <p><span>Logradouro: </span>{{endereco.Logradouro}}</p>
                <p><span>Número: </span>{{endereco.Numero}}</p>  
                <p><span>Complemento: </span>{{endereco.Complemento}}</p>
                <p><span>CEP: </span>{{endereco.Cep}}</p>
                <p><span>Bairro: </span>{{endereco.Bairro}}</p>
                <p><span>Cidade: </span>{{endereco.Cidade}}</p>
                <p><span>Estado: </span>{{endereco.Estado}}</p>
            </div>
          </div>

          <!--  <div *ngFor="let telefone of empresaCompradora.Telefones">
              <h6 class="card-title">{{telefone.NomeTelefone ? telefone.NomeTelefone : 'Telefone de contato'}}</h6>
              <p><span>Número: </span>({{telefone.Area}}) - {{telefone.Numero}}</p>
              <p><span>Ramal: </span>{{telefone.Ramal}}</p>
            </div> -->
        </div>
      </div>
    </div>
  </div>
