<ngx-spinner 
bdColor="rgba(51,51,51,0.8)"
size="large"
color="#00a99d"
type="line-scale">
<p style="font-size: 20px; color: #00a99d">Carregando...</p>
</ngx-spinner>
<div class="row">
  <div class="col-lg-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Log Erros</h4>
        
        <div class="row">
          <div class="col-12">
              
             <table id="order-listing" class="table">
              <thead>
                <tr class="bg-primary text-white">
                  <th>Id</th>
                  <th>Mensagem</th>
                  <th>StatusErro</th>
                  <th>Observacoes</th>
                  <th>DataInclusao</th>
                  <th>Ação</th>
                </tr>
              </thead>
              <tbody *ngIf="erros != undefined">
                <tr *ngFor="let erro of erros">
                  
                  <td> {{ erro.IdLogErro }} </td>
                  <td style="max-width:300px; overflow:auto"> {{ erro.Mensagem }} </td>
                  <td> {{ erro.StatusErro }} </td>
                  <td> {{ erro.Observacoes }} </td>
                  <td>{{erro.DataInclusao  | date: 'dd/MM/yyy' }}</td>                 
                  <td>                    
                      <button class="btn btn-light">
                        <i class="fa fa-check" style="color:green">Resolvido</i>
                      </button>
                  </td>
                </tr>                
              </tbody>
            </table>
          </div>
        </div>
        <div class="container" *ngIf="erros != undefined">
          <div class="row">
            <div class="col-sm-12">
              <h3>Não há erros no momento</h3>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


