/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
//Montserrat
@font-face {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
}


//Open Sans
@font-face {
  font-family: 'Open Sans', sans-serif;
}
